form {
    background-color: chocolate;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    margin: 8px auto;   
}

input[type="text"], input[type="name"], input[type="lname"], input[type="idnumber"], input[type="email"], input[type="tel"], select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid white;
    border-radius: 4px;
    box-sizing: border-box;

}

input[type="submit"] {
    background-color: brown;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: brown;
}









